black==18.6b2
Django==2.2.27
django-redis==4.10.0
djangorestframework==3.9.1
gunicorn==19.8.1
psycopg2-binary==2.8.2
pytest==3.3.2
pytest-django==3.1.2
pytest-mock==1.6.3
requests==2.20.1
slackclient==1.2.1
