<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">

        {%  if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>PuPPy</title>
        {% endif %}

    {% endblock %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    {% if css_url %}
        <link rel="stylesheet" href="{{ css_url }}">
    {% endif %}
</head>
<body>
<nav class="nav--fixed navbar is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a class="nav-link" href="/">
                    <div class="nav-icon">
                        <i class="fab fa-python fa-3x"></i>
                    </div>

                    <div class="nav-title">
                        <h3 class="is-size-4 has-text-weight-bold">PuPPy</h3>
                        <p class="is-size-7 is-uppercase">Puget Sound Programming Python</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

{% block scripts %}
    {# Put script tags in this block. Don't forget to use block.super #}
    {% if js_url %}
        <script src="{{ js_url }}"></script>
    {% endif %}
{%  endblock %}
</body>
</html>
