.home-buttons ul {
  list-style-type: none;
}
.home-button {
  margin: 1em 0;
}
.home-link-item {
  padding: 2em;
  color: #FFFFFF;
}
.home-link-item svg,
.home-link-item img {
  display: block;
  margin: 0 auto 0.25em auto;
}
.home-link-item__label {
  display: block;
  font-weight: bold;
  margin-top: 2em;
  text-transform: uppercase;
}
.meetup-logo {
  max-width: 180px;
}
.powered-by {
  color: #FFFFFF;
  display: inline-block;
  padding: 2em;
}
.powered-by a {
  color: #FFFFFF;
  font-weight: bold;
}
.vertical-line{
  width: 1px; /* Line width */
  background-color: rgba(255, 255, 255, 0.7); /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  padding: 3em 0;
}
